// -----------------------------------------------------PAGE LAYOUT--------------------------------------------------------------------

// .boards-hero {
//     width: 100%;
//     height: 40vh;

//     h1 {
//         font-size: 70px;
//         max-width: 600px;
//         line-height: 80px;
//         padding: 1em;
//     }
// }

.boards-bg {
  background: #6263643f;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -4;
}

.glass-screen {
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  padding: 2em;
  margin: 0 auto;
  left: 5%;
  top: 90px;
  min-height: 50%;
  height: -webkit-fill-available;
  width: 90%;
  position: fixed;
  z-index: -1;
  overflow-y: auto;
  overflow-x: hidden;
}
.board-page-container {
  margin: 0 auto;
  padding-top: 5vh;
  justify-content: center;
}

.boards-page {
  flex-grow: 1;

  .user-boards-section {
    margin-bottom: $boards-section-mb;
    .user-boards-title {
      @include header-title;
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }
  .starred-boards-title {
    @include header-title;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
// -------------------------------------------------------------
