.home-page {
  background-color: #ebeef582;
  .homepage-fold {
    height: 100vh;
    background-image: linear-gradient(
      to bottom right,
      #ebeefe,
      #dff2fe,
      #daf5f7,
      #e0f6ea,
      #eef4e0
    );
    margin-bottom: 0.5625rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "homepage-heading homepage-heading homepage-image homepage-image homepage-image"
      "homepage-heading homepage-heading homepage-image homepage-image homepage-image"
      "homepage-heading homepage-heading homepage-image homepage-image homepage-image";

    .homepage-image {
      grid-area: homepage-image;
      height: 100%;
      background-image: url("../../img/fold-hero.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .homepage-heading {
      grid-area: homepage-heading;
      h1 {
        font-family: Kaushan, "Segoe UI";
        font-size: 6rem;
        margin-bottom: rem(60px);
        user-select: none;
      }

      h2 {
        font-size: 2.5rem;
        line-height: 35px;
        letter-spacing: 0.3px;

        span {
          color: #df3c86;
        }

        &:last-of-type {
          margin-bottom: rem(25px);
        }
      }

      .cta-btn {
        font-size: 30px;
        padding: 15px 30px;
        letter-spacing: 1px;
        text-decoration: none;
        line-height: initial;
        position: relative;
        overflow: hidden;

        transition: all 0.2s ease;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -200%;
          width: 200%;
          height: 100%;
          transform: skewX(-20deg);
          background-image: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent
          );
        }

        &:hover:after {
          animation: shine 1.6s ease;
        }

        &:active {
          transform: translateY(1px);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .features {
    max-width: 980px;
    margin: 0 auto;
    h3 {
      font-size: 30px;
      line-height: 26px;
    }

    & > div {
      height: 350px;
      width: 100%;
    }

    span {
      font-size: rem(18px);
    }

    .features-feature-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "feature-1-bg feature-1-bg feature-1-bg feature-1-txt feature-1-txt"
        "feature-1-bg feature-1-bg feature-1-bg feature-1-txt feature-1-txt"
        "feature-1-bg feature-1-bg feature-1-bg feature-1-txt feature-1-txt";

      .feature-1-txt {
        grid-area: feature-1-txt;
      }
      .feature-1-bg {
        @include svg-bg;
        background-image: url("../../img/Successful-completion-of-project.svg");
        grid-area: feature-1-bg;
      }
    }

    .features-feature-2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "feature-2-bg feature-2-bg feature-2-bg feature-2-txt feature-2-txt"
        "feature-2-bg feature-2-bg feature-2-bg feature-2-txt feature-2-txt"
        "feature-2-bg feature-2-bg feature-2-bg feature-2-txt feature-2-txt";
      .feature-2-txt {
        grid-area: feature-2-bg;
        transform: translateX(20%);
      }
      .feature-2-bg {
        @include svg-bg;
        background-image: url("../../img/Save-time-and-effort.svg");
        grid-area: feature-2-txt;
      }
    }

    .features-feature-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "feature-3-bg feature-3-bg feature-3-bg feature-3-txt feature-3-txt"
        "feature-3-bg feature-3-bg feature-3-bg feature-3-txt feature-3-txt"
        "feature-3-bg feature-3-bg feature-3-bg feature-3-txt feature-3-txt";
      .feature-3-txt {
        grid-area: feature-3-txt;
      }
      .feature-3-bg {
        @include svg-bg;
        background-image: url("../../img/Code\ Version\ Control-blue.svg");
        grid-area: feature-3-bg;
      }
    }
  }

  footer {
    background-color: #333;
    color: #eee;
    padding: 20px 0;
    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.homepage-nav {
  background-color: transparent;
}

.colored-nav {
  background-color: #ebeef5;
}

@-moz-keyframes shine {
  100% {
    left: 200%;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 200%;
  }
}
@-o-keyframes shine {
  100% {
    left: 200%;
  }
}
@keyframes shine {
  100% {
    left: 200%;
  }
}
