.home-page {
  background-color: #ebeef582;
  .homepage-fold {
    height: 100vh;
    background-image: linear-gradient(
      to bottom right,
      #ebeefe,
      #dff2fe,
      #daf5f7,
      #e0f6ea,
      #eef4e0
    );
    margin-bottom: 0.5625rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    .homepage-image {
      height: 100%;
      width: 980px;
      background-image: url("../../img/fold-hero.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .homepage-heading {
      flex-basis: 45%;
      padding-left: 20%;
      h1 {
        font-family: Kaushan, "Segoe UI";
        font-size: 6rem;
        margin-bottom: rem(60px);
        user-select: none;
      }

      h2 {
        font-size: 2.5rem;
        line-height: 35px;
        letter-spacing: 0.3px;

        span {
          color: #ec3636;
        }

        &:last-of-type {
          margin-bottom: rem(25px);
        }
      }

      .cta-btn {
        font-size: 30px;
        padding: 15px 30px;
        letter-spacing: 1px;
        text-decoration: none;
        line-height: initial;
        position: relative;
        overflow: hidden;
      }
      .cta-btn::before {
        content: "";
        width: 50px;
        position: absolute;
        top: 0;
        left: -50px;
        bottom: 0;
        z-index: 9;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(255, 255, 255, 0.2)),
          color-stop(50%, #fff),
          to(rgba(255, 255, 255, 0.2))
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.2) 0%,
          #fff 50%,
          rgba(255, 255, 255, 0.2) 100%
        );
      }

      .cta-btn:hover:before {
        -webkit-animation: lightning-effect 1.5s ease-in-out;
        animation: lightning-effect 1.5s ease-in-out;
      }
    }
  }
}

.features {
  .features-heading {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: rem(35px);
  }

  & > div {
    height: 350px;
    width: 100%;
  }

  .features-feature-1 {
    .feature-1-txt {
      margin-right: rem(60px);
    }
    .feature-1-bg {
      @include svg-bg;
      background-image: url("../../img/Successful-completion-of-project.svg");
    }
  }

  .features-feature-2 {
    background-color: #fff;
    .feature-2-txt {
      margin-left: rem(60px);
    }
    .feature-2-bg {
      @include svg-bg;
      background-image: url("../../img/Save-time-and-effort.svg");
    }
  }

  .features-feature-3 {
    .feature-3-txt {
      margin-right: rem(60px);
    }
    .feature-3-bg {
      @include svg-bg;
      background-image: url("../../img/Code\ Version\ Control-blue.svg");
    }
  }
}

/*Keyframes*/
@-webkit-keyframes lightning-effect {
  0% {
    left: -50px;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0.2)),
      color-stop(50%, #fff),
      to(rgba(255, 255, 255, 0.2))
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0%,
      #fff 50%,
      rgba(255, 255, 255, 0.2) 100%
    );
  }
  50% {
    left: 100%;
  }
  to {
    left: -50px;
    background: 0 0;
  }
}
@keyframes lightning-effect {
  0% {
    left: -50px;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0.2)),
      color-stop(50%, #fff),
      to(rgba(255, 255, 255, 0.2))
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0%,
      #fff 50%,
      rgba(255, 255, 255, 0.2) 100%
    );
  }
  50% {
    left: 100%;
  }
  to {
    left: -50px;
    background: 0 0;
  }
}
