.main-bg {
    background-image: linear-gradient(to top, #5ee7dece 0%, #b490cad8 100%);

    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -4;
}

.bg-overlay {
    background-color: #ebeef582;
    overflow-x: auto;
    min-height: 94vh;
    margin: 0 1em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
