.main-bg {
    // background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    background-image: linear-gradient(to top, #5ee7dece 0%, #b490cad8 100%);

    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    // z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -4;
}

.bg-overlay {
    background-color: #e5eaf6c2;
    min-width: 1300px;
    min-height: 100vh;
    margin: 0 3em;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
