// ------------------------------------------------------- board grid cards-------------------------------------------------------
.board-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    width: -webkit-fill-available;
    justify-content: center;
}

.board-card {
    background: rgba(255, 255, 255, 0.924);
    // box-shadow: -1px 4px 5px 0px rgb(177 177 179 );
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    cursor: pointer;
    border-radius: 10px;
    width: 260px;
    height: 130px;
    margin: 2em;
    transition: all 0.5s;
    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: 1.5em;
        color: rgb(27, 27, 27);
        font-weight: normal;
    }
    .icon-btn {
        position: absolute;
        top: 13px;
        right: 13px;

        opacity: 0;
        transition: opacity 0.3s;
        height: 2em;
        width: 2em;
        cursor: pointer;
        &.edit {
            top: 13px;
            right: 44px;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.438);
        .icon-btn {
            opacity: 1;
        }
    }

    &.add-board {
        background-color: rgba(236, 236, 236, 51%);
    }
}
