.board-header {
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    // background-color: #ffffff5e;
    position: fixed;
    width: 100%;
    margin-left: 0%;
    padding: 4px;
    .board-title {
        @include header-title;
    }
    ul {
        margin: 0;
        margin-right: 3em;
    }

    .board-nav {
        padding-top: 10px;
        &>* {
            padding: 3px 3px 0;
            
        }
        & > *:not(:last-child) {
            margin-inline-end: 1em;
        }
        .notification-icon-container{
            border-radius: 3px;
            &.unread{
                background-color: #ef4040cc;

            }
            &:hover {
                background-color: #3d3d3d36;

                cursor: pointer;
            }
        }
    }
    .board-member-img-wrapper {
        width: 30px;
        margin: 4px;
        @include aspect-ratio(1, 1);
        .board-member-img {
            border-radius: 999px;
            width: 100%;
        }
    }
}
