.dashboard {
    margin-top: 100px;
    

}

.dashboard-overlay {
    position: absolute;
    background-color: #ffffffb3;
    top: 43px;
    border-radius: 5px;
    bottom: 10px;
    left: 17px;
    right: 17px;
    z-index: -4;
  
}
