.task-sidebar {
    position: absolute;
    top: 100px;
    width: 100%;

    .sidebar {

        .sidebar-heading {
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.3px;
        }

        .sidebar-actions {

            .action-container {
                background-color:rgba(9, 30, 66, 0.075);
                border-radius: 3px;
                height: 30px;
                cursor: pointer;
                margin-bottom: 8px;

                transition: background-color .2s;

                &:hover {
                    background-color: darken(#d9d7d7a3, 5%);

                }
                .action-icon {
                    position: relative;

                        svg {
                            position: absolute;
                            font-size: 20px;
                            top: -10px;
                            left: 4px;
                        }
                }

                .action-txt {
                    font-size: 14px;
                    width: 100%;
                    margin-left: 35px;
                }
            }
        }
    }
}