.task-preview {
    font-size: 0.8em;
    margin-bottom: 25px;
    border-radius: 6px;
    background-color: #fff;
    padding: 4px 12px 15px 15px;
    width: 100%;
    &:hover{
        background-color: #f3f3f3;
    }
    .labels-container{
        margin-bottom: 10px;
        flex-wrap: wrap;
        cursor: pointer;
        .task-label {
            min-width: 40px;
            margin-bottom: 5px;
            height: 8px;
            border-radius: 5px;
            margin-inline-end: 2.5px;
        }
    }
    .task-title-wrapper {
        justify-content: space-between;
        cursor: pointer;
        .task-title{
            font-weight: 600;
            // margin-bottom: 12px;

            line-height: 1.4;
            height: 26px;
        }
       
        
        .edit-icon {
            font-size: 1.8em;
            padding: 5px;
            margin-top: 2px;
            &:hover{
                background-color: rgb(206, 209, 218);
            }
        }
    }
    .task-description {
        font-weight: 700;
        text-overflow: clip;
        cursor: pointer;

    }
    .task-created-at {
        font-weight: normal;
        cursor: pointer;

    }
}
