.task-list-container {
    // background-color: #fff;
    margin-inline-end: 40px;
    border-radius: 10px;
    min-width: 230px;
    .list-title {
        position: relative;
        @include list-title;

        input {
            max-width: 170px;
            background-color: transparent;
            font-weight: 600;
            outline: none;
            border: none;
            color: #fff;
            padding: 4px;
            border-radius: 5px;
        }

        .toggle-form-icon {
            transition: transform 0.11s;
            right: 10px;
            font-size: 1.3em;
            position: absolute;
            top: 9px;
            cursor: pointer;
            &.close {
                transform: rotate(45deg);
            }
        }
    }
    .task-composer {
        font-size: 0.8em;
        margin-bottom: 25px;
        border-radius: 6px;
        background-color: #f3f3f3;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        input[name="title"] {
            padding-bottom: 10px;
            border-bottom: 1px solid $border-bottom-clr;
        }
        input,
        textarea {
            background-color: transparent;
            border: none;
            resize: none;
            outline: none;
            font-family: inherit;
            -moz-appearance: none;
            font-size: 1.2em;
        }
        textarea {
            padding-bottom: 15px;
            padding-top: 5px;
        }
    }
    .open-composer-btn {
    }
}
