.task-preview {
    font-size: 0.8em;
    margin-bottom: 25px;
    border-radius: 6px;
    background-color: #e6eaf8;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    .task-title {
        font-weight: normal;
        margin-bottom: 12px;
    }
    .task-description {
        font-weight: 700;
        text-overflow: clip;
    }
    .task-created-at {
        font-weight: normal;
    }
}
