.window-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .70);
    top: 0;
    right: 0;
}

.details-modal{
    height: 100vh;
    width: 768px;
    margin: 48px auto 80px;
    border-radius: 2px;
    background-color:$task-bgc-clr;
    z-index: 20;
        .details-header {
            padding-top: 20px;
            textarea {
                resize: none;
                font-family: inherit;
                font-weight: 600;
                font-size: 20px;
                height: 34px;
                border: none;
                border-radius: 3px;
                padding: 4px 8px;
                line-height: 24px;
                background-color:$task-bgc-clr;

                &:focus {
                    outline: 2px solid lightskyblue;
                    background-color: #fff;
                }
            }
        form {
            width: 100%;
        }

        .details-list-name {
            text-decoration: underline;
        }
        }
}